<template>
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">  
            <li class="nav-item d-none d-sm-inline-block">
                <router-link to="/inicio" class="nav-link">Inicio</router-link> 
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
</template>

<script>
export default {
    name :'the-navbar'
}
</script>