<template>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="@/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                style="opacity: .8">
            <span class="brand-text font-weight-light">Cursos</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="@/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ activeUserInfo.name }}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item has-treeview">
                            <router-link to="/cursos" class="nav-link">
                                <i class="nav-icon far fa-list-alt"></i>
                                <p>
                                    Cursos
                                </p>
                            </router-link> 
                    </li>
                    <li class="nav-item has-treeview" v-if="activeUserInfo.rol == 'cliente'" >
                            <router-link to="/mis-cursos" class="nav-link">
                                <i class="nav-icon far fa-address-book"></i>
                                <p>
                                    Mis cursos

                                </p>
                            </router-link> 
                    </li>
                    <li class="nav-item" v-if="activeUserInfo.rol == 'administrador'" >
                            <router-link to="/profesores" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Profesores

                                </p>
                            </router-link> 
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
        <!-- /.sidebar -->
    </aside>
</template>

<script>
    export default {
        name: 'vx-sidebar',
        computed: {
            // PROFILE
            activeUserInfo() {

                // const current_user = this.$store.getters.currentUser;

                // let user = this.$store.getters.getUser;
                return this.$store.state.InfoUser;
            }
        },
    }
</script>