<template>
    <div class="container">
        <br>
        <div class="col-md-12">
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Mis Cursos</h3>
                            </div>
                        
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Categoría</th>
                                            <th>Profesor</th>
                                            <th>Precio</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="mi_curso in mis_cursos" :key="mi_curso.id">
                                                
                                            <td>
                                                {{ mi_curso.curso.nombre }}
                                            </td>
                                            <td>
                                                {{ mi_curso.curso.descripcion }}
                                            </td>
                                            <td>
                                                {{ mi_curso.curso.categoria }}
                                            </td>
                                            <td>
                                                {{ mi_curso.curso.profesor_nombre }}
                                            </td>
                                            <td>
                                                {{ mi_curso.curso.precio_currency }}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default" @click="ver(mi_curso.curso.id)"><i class="fas fa-eye"></i></button>
                                                    <button type="button" class="btn btn-default" @click="cancelar(mi_curso.id)"><i class="fas fa-times"></i> </button>
                                                </div>
                                            </td>
    
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section>
        </div>
    </div>
</template>

<script>
import apiCursos from '@/api/cliente/miscursos';
export default {
    data(){
        return {
            mis_cursos: []
        }

    },
    beforeMount(){
        // Obtenemos todos los cursos
        this.getMisCursos()
    }, 
    methods: {
        /* Función que obtiene todos los cursos registrados */
        getMisCursos(){
            
            // Petición a la ruta de obtener cursos
            let method = apiCursos.miscursos()

            method.then((response) => {
                const { data } = response.data;

				console.log(response)
				console.log(data)
                
                if(data.cursos)
                    this.mis_cursos = data.cursos;


            }).catch((error) => {
                console.log(error)
            });

        },
        /*Funcion para ver detalles de un curso*/
        ver(id){
            console.log(id)

            this.$router.push('/cursos/'+id)
        
        },
        /*Funcion para cancelar un curso*/
        cancelar(id,index){
            console.log(id)
            
            const curso = {
                id: id
            }

            let method = apiCursos.cancelarSuscripcion(curso)
            
            method.then(() => {

                this.mis_cursos.splice(index, 1);

                this.$notification.success("Suscripción Cancelada");

               }).catch((err) => {

                let {data} = err.response;

                if(data.errors){

                    for (var key in data.errors) {
                        this.$notification.warning(data.errors[key][0]);
                    }

                }
                else{
                    this.$notification.error("Ha ocurrido un error al cancelar suscripción");
                }

            });
        },
  
    },
}
</script>