<template>
    <div class="wrapper">
        <vx-sidebar></vx-sidebar>
        <the-navbar></the-navbar>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            


            <!--Content area---Main content-->
            <router-view></router-view>
            <!--/.Content area---Main content-->

 
        </div><!-- /.content-wrapper -->
                    <the-footer></the-footer>
        
    </div>

</template>

<script>
    import VxSidebar from '@/layouts/components/VxSidebar.vue';
    import TheNavbar from '../components/TheNavbar.vue';
    import TheFooter from '../components/TheFooter.vue';

    export default {
        components: {
            VxSidebar,
            TheNavbar,
            TheFooter
        },
    }

</script>