<template>
    <div class="container">
        <br>
        <div class="col-md-12">
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Profesores</h3>
                                <router-link to="/profesores/crear" class="btn btn-primary bg-info float-right">Crear</router-link>
                            </div>

                            <div class='content'>
                                 <div class="col-3">
                                        
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Cedula</th>
                                            <th>Correo</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="(profesor, index) in profesores" :key="profesor.id">
                            
                                            <td>
                                                {{ profesor.nombre }}
                                            </td>
                                            <td>
                                                {{ profesor.apellido }}
                                            </td>
                                            <td>
                                                {{ profesor.cedula }}
                                            </td>
                                            <td>
                                                {{ profesor.correo }}
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default" @click="editar(profesor.id)"><i class="fas fa-edit"></i></button>
                                                    <button type="button" class="btn btn-default" @click="eliminar(profesor.id, index)"><i class="fas fa-trash"></i> </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section>
        </div>
    </div>
</template>


<script>
import apiProfesores from '@/api/admin/profesores';

export default {
    data(){
        return {
            profesores: []
        }

    },
    beforeMount(){
        // Obtenemos todos los Profesores
        this.getProfesores()
    }, 
    methods: {
        // Función que obtiene todos los profesores registrados
        getProfesores(){

            // Petición a la ruta de obtener profesores
            let method = apiProfesores.profesores()

            method.then((response) => {
                const { data } = response.data;

				console.log(response)
                console.log(data)
        
                
                if(data.profesor)
                    this.profesores = data.profesor;
               

            }).catch((error) => {
                console.log(error)
            });

        },
        // Funcion para editar un curso
        editar(id){
            console.log(id)

            this.$router.push('/profesores/editar/'+id)
        
        },
        eliminar(id, index){

            // Petición a la ruta de eliminar usuario
            let method = apiProfesores.delete(id)

            method.then(() => {

                this.profesores.splice(index, 1);

                this.$notification.success("Profesor Eliminado exitosamente");

               }).catch((err) => {

                let {data} = err.response;

                if(data.errors){

                    for (var key in data.errors) {
                        this.$notification.warning(data.errors[key][0]);
                    }

                }
                else{
                    this.$notification.error("Ha ocurrido un error al eliminar el profesor");
                }

            });

        }
    },
}
</script>



        