<template>
    <div class="container">
        <br>
       <div class="row justify-content-md-center">

            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Crear Profesor</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" @submit.prevent='crearProfesor' >
                        <div class="card-body">
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Nombre" v-model="nombre">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Apellido</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Apellido" v-model='apellido'>
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Cédula</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Cédula" v-model="cedula">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Correo</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Correo" v-model="correo">
                                    </div>
                            </div>                    

                            <div class="card-footer">
                                <button type="submit" class="btn btn-info" >Crear</button>
                                <router-link to="/profesores" class="btn btn-default float-right">Atras</router-link>
                            </div><!-- /.card-footer -->
                        </div>
                    </form>
                </div><!-- /.card -->
            </div>
        </div>
    </div>
</template>

<script>
import apiProfesores from '@/api/admin/profesores';
export default {
    data(){
        return{
            nombre:'',
            apellido:'',
            cedula:'',
            correo:'',
        }
    },
    methods: {
        crearProfesor: function() {

            const profesor = {

                nombre: this.nombre,
                apellido: this.apellido,
                cedula: this.cedula,
                correo:this.correo,
            }

            let method = apiProfesores.create(profesor)

            method.then(() => {

                this.$notification.success("Profesor creado exitosamente");
                
                this.$router.push("/profesores");

            }).catch((err) => {

                let {data} = err.response;

                if(data.errors){

                    for (var key in data.errors) {
                        this.$notification.warning(data.errors[key][0]);
                    }

                }
                else{
                    this.$notification.error("Ha ocurrido un error al crear el profesor");
                }

            });

        }
    },
}
 </script>