<template>
    <section class='content'>
        <br/>
        <div class='container-fluid'>
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Detalle del Curso</h3>
                </div>
                    
                <div class='card-body'>
                        <div class='row'>
                            <div class='col-md-6'>
                                <div class="form-group row">
                                    <label  class="col-sm-3 col-form-label">Nombre: </label>
                                        <div class="col-sm-9">
                                            <label class="form-control left">
                                                {{nombre}}
                                            </label>
                                        </div>
                                </div>
                                <div class="form-group row">
                                    <label  class="col-sm-3 col-form-label">Descripción</label>
                                        <div class="col-sm-9">
                                            <label class="form-control left">
                                                {{descripcion}}
                                            </label>
                                        </div>
                                </div>
                            </div>
                            
                            <div class='col-md-6'>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Categoría:</label>
                                    <div class="col-sm-9">
                                        <label class="form-control left">
                                            {{categoria}}
                                        </label>
                                    </div>
                                </div>
                            
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Precio:</label>
                                    <div class="col-sm-9">
                                        <label class="form-control left">
                                            {{precio}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-6'>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Profesor:</label>
                                    <div class="col-sm-9">
                                        <label class="form-control left">
                                            {{profesor_nombre}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                
            </div>
        </div>
        
    </section>
</template>

<script>
import apiCursos from '@/api/admin/cursos'
import apiProfesores from '@/api/admin/profesores';

export default {
    data(){
        return{
            id:'',
            nombre:'',
            descripcion:'',
            categoria:'',
            precio:'',
            profesor_nombre:'',
        }
    },
    beforeMount(){
        // Obtenemos todos Cursos
        this.getCurso(this.$route.params.id)
        // Obtenemos todos los Profesores
        this.getProfesores()
    },  
    methods: {
       /* Función que inicializa los campos registrados */
         valueInit(data){
             this.id              =  data.curso.id
             this.nombre          =  data.curso.nombre
             this.descripcion     =  data.curso.descripcion
             this.precio          =  data.curso.precio_currency
             this.categoria       =  data.curso.categoria
             this.profesor_nombre =  data.curso.profesor_nombre
         },
        //Función que obtiene todos los profesores
        getProfesores(){

            // Petición a la ruta de obtener profesores
            let method = apiProfesores.profesores()

            method.then((response) => {
                const { data } = response.data;

				console.log(response)
				console.log(data)
                
                if(data.profesor)
                    this.profesores = data.profesor;


            }).catch((error) => {
                console.log(error)
            });

        },
       // Función que obtiene el cursos 
        getCurso(id){
            
            // Petición a la ruta de mostrar 1 curso
            let method = apiCursos.show(id)

            method.then((response) => {
    
                const { data } = response;

                console.log(response)
                console.log(data.curso)
                this.valueInit(data)
			
            }).catch((error) => {
                console.log(error)

                console.log(error.response)
            });

        },
    },
}
 </script>