<template>
    <div class="container">
        <br>
        <div class="col-md-12">
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Cursos</h3>

                                <router-link v-if="activeUserInfo.rol == 'administrador'"  to="/cursos/crear" class="btn btn-primary bg-info float-right">Crear curso</router-link>
                            </div>

                            <div>
                                <form class="form-horizontal" @submit.prevent='getCursos'>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class='col-md-6'>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Categoría:</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" placeholder="Busca por categoría" v-model='categoria'>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                <button type="submit" class="btn btn-info">Filtrar</button>
                                            </div>

                                        </div>
                                    
                                    </div>
                                </form>

                                
                            </div>
                           
                            
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Descripción</th>
                                            <th>Categoría</th>
                                            <th>Profesor</th>
                                            <th>Precio</th>
                                            <th v-if="activeUserInfo.rol == 'cliente'">Suscrito</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr v-for="curso in cursos" :key="curso.id">
                                                
                                            <td>
                                                {{ curso.nombre }}
                                            </td>
                                            <td>
                                                {{ curso.descripcion }}
                                            </td>
                                            <td>
                                                {{ curso.categoria }}
                                            </td>
                                            <td>
                                                {{ curso.profesor_nombre }}
                                            </td>
                                            <td>
                                                {{ curso.precio_currency }}
                                            </td>
                                            <td  v-if="activeUserInfo.rol == 'cliente'">
                                                <span v-if="curso.curso_cliente_id">Si</span>
                                                <span v-else>No</span>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button v-if="activeUserInfo.rol == 'administrador' || ( activeUserInfo.rol == 'cliente' && curso.curso_cliente_id)" type="button" class="btn btn-default" data-toggle="tooltip" title="ver"  @click="ver(curso.id)"><i class="fas fa-eye"></i></button>
                                                    <button v-if="activeUserInfo.rol == 'administrador'" type="button" class="btn btn-default" data-toggle="tooltip" title="editar" @click="editar(curso.id)"><i class="fas fa-edit"></i></button>
                                                    <button v-if="activeUserInfo.rol == 'administrador'" type="button" class="btn btn-default" data-toggle="tooltip" title="Eliminar" @click="eliminar(curso.id)"><i class="fas fa-trash"></i> </button>
                                                    <button v-if="activeUserInfo.rol == 'cliente' && !curso.curso_cliente_id" type="button" class="btn btn-default" data-toggle="tooltip" title="Suscribirse" @click="suscribirse(curso.id)"><i class="fas fa-bell"></i></button>
                                                    <button v-if="activeUserInfo.rol == 'cliente' && curso.curso_cliente_id" type="button" class="btn btn-default" data-toggle="tooltip" title="cancelar suscripción" @click="cancelar(curso.curso_cliente_id)"><i class="fas fa-times"></i> </button>
                                                </div>
                                            </td>
    
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section>
        </div>
    </div>
</template>

<script>
import apiCursos from '@/api/admin/cursos';
import apiMisCursos from '@/api/cliente/miscursos';
export default {
    data(){
        return {
            cursos: [],
            categoria : ''
        }

    },
    beforeMount(){
        // Obtenemos todos los cursos
        this.getCursos()
    }, 
    computed: {
            activeUserInfo() {
                return this.$store.state.InfoUser;
            }
    },
    methods: {
        /* Función que obtiene todos los cursos registrados */
        getCursos(){

            const categoria = this.categoria

            // Petición a la ruta de obtener cursos
            let method = apiCursos.cursos(categoria)

            method.then((response) => {
                const { data } = response.data;
                
                if(data.cursos)
                    this.cursos = data.cursos;


            }).catch((error) => {
                console.log(error)
            });

        },
        /*Funcion para editar un curso*/
        editar(id){
            console.log(id)

            this.$router.push('/cursos/editar/'+id)
        
        },
        /*Funcion para ver un curso*/
        ver(id){
            console.log(id)

            this.$router.push('/cursos/'+id)
        
        },
        /*Funcion para cancelar un curso*/
        eliminar(id, index){

            // Petición a la ruta de eliminar usuario
            let method = apiCursos.delete(id)

            method.then(() => {

                this.cursos.splice(index, 1);

                this.$notification.success("Curso Eliminado exitosamente");

               }).catch((err) => {

                let {data} = err.response;

                if(data.errors){

                    for (var key in data.errors) {
                        this.$notification.warning(data.errors[key][0]);
                    }

                }
                else{
                    this.$notification.error("Ha ocurrido un error al eliminar el curso");
                }

            });

        },

        /*Funcion para cancelar un curso*/
        cancelar(id,index){
            console.log(id)
            
            const curso = {
                id: id
            }
            let method = apiMisCursos.cancelarSuscripcion(curso)
            method.then(() => {

                this.cursos.splice(index, 1);

                this.$notification.success("Suscripción Cancelada");

               }).catch((err) => {

                let {data} = err.response;

                if(data.errors){

                    for (var key in data.errors) {
                        this.$notification.warning(data.errors[key][0]);
                    }

                }
                else{
                    this.$notification.error("Ha ocurrido un error al cancelar suscripción");
                }

            });
        },
        /*Funcion para suscribirse un curso*/
        suscribirse(id){
            console.log(id)
            
            const curso = {
                curso_id: id
            }
            console.log('antes')
            let method = apiMisCursos.suscribir(curso)
            console.log('despues')
            method.then(() => {

                this.$notification.success("Se ha suscrito al curso");
                this.getCursos()


               }).catch((err) => {

                let {data} = err.response;

                if(data.errors){

                    for (var key in data.errors) {
                        this.$notification.warning(data.errors[key][0]);
                    }

                }
                else{
                    this.$notification.error("Error al suscribir");
                }

            });
        },


    },
}
</script>