<template>
    <div class="container">
        <br>
        <div class="row justify-content-md-center">

            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Editar Curso</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" @submit.prevent='editarCurso'>
                        <div class="card-body">
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Nombre</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Nombre" v-model='nombre'>
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Descripción</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Descripción" v-model="descripcion">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Categoría</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Categoría" v-model="categoria">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Precio</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  placeholder="Precio" v-model="precio">
                                    </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Profesor</label>
                                    <div class="col-sm-10">
                                    <select class="form-control select2" v-model="profesor_id">
                                       <option v-for="profesor in profesores" :key="profesor.id" :value="profesor.id">
                                           {{ profesor.nombre }}
                                       </option>
                                    </select>
                                    </div>
                            </div>                       
 
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info ">Crear</button>
                                <router-link to="/cursos" class="btn btn-default float-right">Atras</router-link>
                            </div><!-- /.card-footer -->
                        </div>
                    </form>
                </div><!-- /.card -->
            </div>
        </div>
    </div>
</template>

<script>
import apiCursos from '@/api/admin/cursos'
import apiProfesores from '@/api/admin/profesores';

export default {
    data(){
        return{
            id:'',
            nombre:'',
            descripcion:'',
            categoria:'',
            precio:'',
            profesor_id:'',
            profesores:[],
            
            
        }
    },
    beforeMount(){
        // Obtenemos todos Cursos
        this.getCurso(this.$route.params.id)
        // Obtenemos todos los Profesores
        this.getProfesores()
    },  
    methods: {
       /* Función que inicializa los campos registrados */
         valueInit(data){
             this.id             =  data.curso.id
             this.nombre         =  data.curso.nombre
             this.descripcion    =  data.curso.descripcion
             this.precio         =  data.curso.precio
             this.categoria      =  data.curso.categoria
             this.profesor.id    = data.curso.profesor_id
         },
        //Función que obtiene todos los profesores
        getProfesores(){

            // Petición a la ruta de obtener profesores
            let method = apiProfesores.profesores()

            method.then((response) => {
                const { data } = response.data;

				console.log(response)
				console.log(data)
                
                if(data.profesor)
                    this.profesores = data.profesor;


            }).catch((error) => {
                console.log(error)
            });

        },
       // Función que obtiene el cursos 
        getCurso(id){
            
            // Petición a la ruta de mostrar 1 curso
            let method = apiCursos.show(id)

            method.then((response) => {
    
                const { data } = response;

                console.log(response)
                console.log(data.curso)
                this.valueInit(data)
			
            }).catch((error) => {
                console.log(error)

                console.log(error.response)
            });

        },

        editarCurso: function() {

            const curso = {

                nombre: this.nombre,
                descripcion: this.descripcion,
                categoria: this.categoria,
                precio:this.precio,
                profesor_id:this.profesor_id,
            }

            let method = apiCursos.update(this.id,curso)

            method.then(() => {

                this.$notification.success("Curso actualizado exitosamente");
                
                this.$router.push("/cursos");

            }).catch((err) => {

                let {data} = err.response;

                if(data.errors){

                    for (var key in data.errors) {
                        this.$notification.warning(data.errors[key][0]);
                    }

                }
                else{
                    this.$notification.error("Ha ocurrido un error al actualizar el curso");
                }

            });



        }
    },
}
 </script> 