<template>
    <div>
        <body class="hold-transition login-page">
            <div class="login-box">
                <div class="login-logo">
                    <a href="../../index2.html"><b>Admin</b>LTE</a>
                </div>
                <!-- /.login-logo -->
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">Iniciar Sesión</p>

                        <form class="login" @submit.prevent="login">
                            <div class="input-group mb-3">
                                <input required v-model="email" type="email" class="form-control" placeholder="Correo">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input required v-model="password" type="password" placeholder="Password"  class="form-control"/>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="remember" vs-model="remember_me">
                                        <label for="remember">Recuerdame
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                                </div>
                                <!-- /.col -->
                            </div>
                      </form>
                    </div>
                </div>
            </div>
        </body>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            email: "",
            password: "",
            remember_me: "false"
            };
        }, 
         
        methods: {

            login: function () {
                let email = this.email 
                let password = this.password
               
                this.$store.dispatch('login', { email, password })
                .then((response) => {

                    const user = response.data.user

                    
                    this.$store.dispatch('setUser', user ); 

                    this.$notification.success("Inicio de sesión exitoso"); 
                    
                    this.$router.push('/inicio')
                    
                }).catch(err => {
                    console.log(err),

                    this.$notification.error("Datos inválidos, verifique nuevamemte")
                })
            },
        }
}
</script>